<footer class="py-3  bg-body-secondary myFooter">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/home" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-body-secondary">About</a></li>
      <li class="nav-item"><a routerLink="/products" class="nav-link px-2 text-body-secondary">Perfume's</a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li> -->
      <li class="nav-item"><a routerLink="/order" class="nav-link px-2 text-body-secondary">Order</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Bahaeddinne Ben Sghaier, Inc</p> 
  </footer>