* {
box-sizing: border-box;
/* margin: 0; */
/* padding: 0; */
}

/* .shoppigCart {
border: solid;
} */

.images {
/* border: solid red; */
    border-radius: 50px;
    width: 200px;
    padding: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.headImage {
padding-left: 75px;
}

.rabatt {
color: #6610f2;
text-decoration: underline double;
font-size: xx-large;
}

.normalTotal {
    text-shadow: -2px 5px 7px red;
    font-size: xx-large;
}
