* {
box-sizing: border-box;
}

.details {
margin: 0 auto;
/* border: solid black; */
text-align: center;
box-shadow: 10px 10px 79px 0px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 10px 10px 79px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 10px 10px 79px 0px rgba(0,0,0,0.75) inset;
border-radius: 15px;
padding: 10px;
}

.text {
text-shadow: 2px 2px 8px #CE5937;
font-size: xx-large;
}

.price {
color: red;
font-weight: bolder;
font-size: xx-large;
text-decoration: underline double;
}

.orderBtn {
font-size: xx-large;
margin-bottom: 30px;
}